.panelEjecucion {
    width: 100%;
  }

  .secciones {
      height: 600px; 
      overflow:-moz-hidden-unscrollable;
      display: grid;
      grid-template-rows: 10% 90% ; 

  }

  .seccionCabeceraPanel {
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 25px;
    padding-top: 10px;
}

.seccionCabeceraPanel h1 {
  margin-top: 10px;
}



.seccionCuerpoPanel {

  grid-row-start: 2;
  grid-row-end: 2;
  overflow-y: scroll;
}


  .pieDialog, .cabeceraDialog {
      display: flex;
      flex-direction: row-reverse;

  }
  
  .cabeceraDialog h1 {
      font-size: xx-large;
  }
  

  

  
  .seccion {
      padding: 5px;
      padding-top: 15px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #eee;
      margin-bottom: 5px;
      overflow: auto;
      scrollbar-color:grey;
      scrollbar-width: thin;
    }
 
    .seccion::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      border-radius: 5px;
  
    }
  
    .seccion::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 5px;
      background-color: #ddd;
      border-radius: 5px;
    }
    .seccion::-webkit-scrollbar-thumb {
      background-color: #333;
      border-radius: 5px;
    }
  
    textarea {
      height: 100px;
  
    }
  
    .boton {
      cursor: pointer;
    }
  
     ::ng-deep .ngx-json-viewer {
      overflow:visible !important;
     
    }
  
    
    ::ng-deep  .ngx-json-viewer .segment-type-null> .segment-main > .segment-value {
      background-color: white!important;
      color: red !important;
      font-weight: bold;
    }
