<div class="panelEjecucion">

    <div  class="cabeceraDialog">
            <h1 mat-dialog-title>Descripción</h1>
     </div>

    <div  class="contenido">
        <div class="secciones">
            <div class="seccion seccionCabeceraPanel">
                <p>{{data.cabecera}}</p>
            </div> 

            <div class="seccion seccionCuerpoPanel">
                <showdown [value]="data.contenidoMarkdown"></showdown>
            </div>

        </div>
    </div>

    <div mat-dialog-actions class="pieDialog">
        <div>
        <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cerrar</button>
        </div>
    </div>

</div>