<div *ngIf="dto"  class="dto" [ngClass]="{'DtoHijo' : !esDtoRaiz}">
    <div class="seccion seccionCabeceraDto" [ngClass]="esDtoRaiz ? 'seccionCabeceraDtoRaiz' : 'seccionCabeceraDtoHijo'">
        <button  (click)="expandir = !expandir"  mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon class="boton-expandir" [ngClass]="{'rotado' : !expandir}">expand_more</mat-icon>
        </button>
        <span class="tipoDto">{{dto.nombreDto}}</span>
    </div>
    <div *ngIf="!this.esCampoSimple(dto)" class="seccion seccionCuerpo">

        <div class="seccion seccionCampo" *ngFor="let campo of dto.campos" >

            
            
            <ng-container *ngIf="this.esCampoSimple(campo.tipoCampo); else campoDto" >
                <div class="seccion seccionNombre">{{campo.nombreCampo}}:</div>
                <div class="seccion seccionDatosTipoCampo seccionDatosTipoCampoSimple"  >
                    {{campo.tipoCampo}}
                </div>
            </ng-container>

            <ng-template #campoDto>
                <div class="seccion seccionNombre">{{campo.nombreCampo}}</div>
                <div class="seccion seccionDatosTipoCampo seccionDatosTipoCampoDto"  >
                    <app-arbol-dto *ngIf="!this.esCampoSimple(campo.tipoCampo)" [dto]="(campo.tipoCampo | como : IDto)"  [esDtoRaiz]="false"></app-arbol-dto>
                </div>

            </ng-template>

        </div>
    
    </div>
</div>