
<mat-expansion-panel [expanded]="this.expandido" *ngIf="dto" class="dto" [ngClass]="{'dtoPadre' : esDtoRaiz}">
    
    <!-- Cabecera -->
    <mat-expansion-panel-header>
          <mat-panel-title> {{dto.nombreDto}} </mat-panel-title>
      <mat-panel-description *ngIf="this.mostrarDescripcionesDtos" > This is a summary of the content </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Cuerpo: Colección de campos -->
    <div class="seccion seccionCuerpo">

        <div class="seccion seccionCampo" *ngFor="let campo of dto.campos" >
           
            <!-- Sección que contempla el nombre del campo. 
            Es común inependientemente de la tipología del campo -->
            <div class="seccion seccionNombreCampo" [ngClass]="{'seccionNombreCampoExpandido' : !this.mostrarTiposDeCampos}"
            >
            <span matTooltip="{{campo.nombreCampo}}">
                {{campo.nombreCampo}}{{this.mostrarTiposDeCampos?':':null}}
            </span>
                
            </div>
            

            <!-- Sección correspondiente al tipo del campo. Parte derecha dle nombre -->
            <div class="seccion seccionTipo">

                <!-- Caso 1. Campos de tipo simple -->
                <ng-container *ngIf="this.esCampoSimple(campo.tipoCampo)===enumTipologiaDeCampos.SIMPLE" >
                    <div    class="seccion seccionDatosTipoCampo seccionDatosTipoCampoSimple" 
                            *ngIf="this.mostrarTiposDeCampos"   >
                        [{{campo.tipoCampo}}]
                    </div>
                </ng-container>

                <!-- Caso 2. Es un DTO. LLamada recursiva -->
                <ng-container *ngIf="this.esCampoSimple(campo.tipoCampo)===enumTipologiaDeCampos.DTO"  >
                    <div    class="seccion seccionDatosTipoCampo seccionDatosTipoCampoDto" 
                            *ngIf="this.mostrarTiposDeCampos" >
                        <app-arbol-dto class="dtoHijo" [dto]="(campo.tipoCampo | como : IDto)"  [esDtoRaiz]="false" ></app-arbol-dto>
                    </div>
                </ng-container>

                <!-- Caso 3. Es un tipo enumerado.  -->
                <ng-container *ngIf="this.esCampoSimple(campo.tipoCampo)===enumTipologiaDeCampos.ENUMERADO"  >

                    <div    class="seccion seccionDatosTipoCampo seccionDatosTipoCampoEnumerado" 
                            *ngIf="this.mostrarTiposDeCampos" >
                            Valores: 
                            {{'<'+this.convertirArrayCadenasEnCadena((campo.tipoCampo | como : IenumDto).valores)+'>'}}
                    </div>

                </ng-container>

            </div>  <!-- Fin sección de tipo -->
        </div> <!-- Fin sección campo -->
    </div> <!-- Fin sección cuerpo -->
</mat-expansion-panel>