 
/* .seccionCabeceraDto {background-color: aqua;}
.seccionCuerpo {background-color: yellow;}
.seccionCampo {background-color: orange;}
.seccionNombre { background-color: green;}
.seccionDatosTipoCampo { background-color: brown;}  
.dto {background-color: grey;} */



.dtoPadre {
    margin-bottom: 20px;
}



.seccionCabeceraDto {
    background-color: #f1f1f1;
    box-shadow: 1px 1px 2px #999;
    min-height: 15px;
    margin-bottom: 5px;
    display: flex;
    padding-left: 6px;
}

.dtoPadre > .seccionCabeceraDto{
    background-color: #ddd;
    /* border-top-style: solid;
    border-top-width: 1px; */

}

.seccionCuerpo {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
    min-height: 20px;
    margin-left: 1px;
    padding-left: 5px;

}

.seccionCampo {
    margin:1px;
    min-height: 20px;
    display: flex;
}


.seccionNombre, .seccionDatosTipoCampoSimple  {
    padding-top: 4px;
}

/* .seccionNombre {
    min-width: 150px;
} */

.seccionCampo:first-child {
    height: 10px;
}

.seccionCampo:first-child .seccionNombre  {
    padding-top: 0px;
}
.seccionCampo:first-child .seccionDatosTipoCampo  {
    padding-top: 0px;
}



.seccionDatosTipoCampo {
    flex-grow: 1;
    padding-left: 10px;  
}

.seccionDatosTipoCampoSimple {
    font-style: oblique;
}

.tipoDto {
    font-weight: bold;

    vertical-align: middle;
    line-height: 200%;

    height: 100%;
}


.botonDesplegarExpandir {
    margin-left: auto;
 

}

.iconoDesplegarExpandir {
  
    transition: 200ms;
    transform: rotate(0deg);
    
  }

.iconoDesplegarExpandir.rotado {
    transition: 200ms;
    transform: rotate(-90deg);
}


.seccionCuerpo.oculto {
    transition: 200ms;
    height: 0px;
    display:none
}







 
button {
    height: 25px;
    width: 30px;
    vertical-align: top;
    line-height: 10px;
}
/*

mat-icon {
    height: 10px;
    padding: 0px;
    margin: 0px;
} */

/* mat-icon-button {
    vertical-align: middle;
} */