<div >
    <!-- Barra de filtrado general -->
    <mat-toolbar>
      <div class="seccionBuscador">
            <app-buscador (texto)="onCambiarTextoFiltro($event)"></app-buscador> 
      </div>
      <button mat-icon-button class="iconoFiltrarAgrupacion" (click)="openDialog()" aria-label="Example icon-button with share icon">
        <mat-icon >account_tree</mat-icon>
      </button>
  
      <span class="example-spacer"></span>
      <mat-slide-toggle [(ngModel)]="mostrarTiposDeCampos" color="primary">Mostrar tipo de campos</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="this.mostrarDescripcionesOperations" color="primary">Mostrar descripciones</mat-slide-toggle>

      <div class="metodoHttp metodoHttpGet"><mat-slide-toggle [(ngModel)]="this.mostrarDescripcionesOperations" color="primary">GET</mat-slide-toggle></div>
      <div class="metodoHttp metodoHttpPost"><mat-slide-toggle [(ngModel)]="this.mostrarDescripcionesOperations" color="primary">POST</mat-slide-toggle></div>
      <div class="metodoHttp metodoHttpPut"><mat-slide-toggle [(ngModel)]="this.mostrarDescripcionesOperations" color="primary">PUT</mat-slide-toggle></div>
      <div class="metodoHttp metodoHttpDelete"><mat-slide-toggle [(ngModel)]="this.mostrarDescripcionesOperations" color="primary">DELETE</mat-slide-toggle></div>

      
      
     
      <button mat-icon-button class="iconoColapsarDesplegar" (click)="onExpandirToggle()" aria-label="Example icon-button with share icon">
        <mat-icon >{{ this.panelesExpandidos? 'expand_less' : 'expand_more'}}</mat-icon>
      </button>
    </mat-toolbar>
      
    <!-- Sección que renderiza los Dtos. -->
    <p *ngIf="!this.mostrarOperations">Cargando...</p>
    <div class="seccionEndpoints" *ngIf="this.mostrarOperations" >
      
      <mat-paginator [length]="this.paginacion.longitud"
                     [pageSize]="this.paginacion.tamanyoPagina"
                     [pageSizeOptions]="this.paginacion.opcionesPagina"
                     [pageIndex]="this.paginacion.paginaSeleccionada"
                     (page)="onSeleccionarPagina($event)"
                 
                     aria-label="Select page">
      </mat-paginator>
      
  
      <!-- <p *ngIf="this.cargando" >Cargando...</p> -->
      <!-- <mat-accordion [multi]="true" *ngIf="!this.cargando" > -->
  
        <mat-accordion [multi]="true" >
          <!-- <app-arbol-operations
            *ngFor="let dto of this.operations" 
            [endpoint]="dto" 
            [expandido]="this.panelesExpandidos" 
            [mostrarDescripcionesDtos]="this.mostrarDescripcionesOperations">
          </app-arbol-operations> -->
      </mat-accordion>
    </div>
  
  </div>
  
