<div >
    <!-- Barra de filtrado general -->
    <mat-toolbar>
      <div class="seccionBuscador">
            <app-buscador (texto)="onCambiarTextoFiltro($event)"></app-buscador> 
      </div>
      <button mat-icon-button class="iconoFiltrarAgrupacion" (click)="openDialog()" aria-label="Example icon-button with share icon">
        <mat-icon >account_tree</mat-icon>
      </button>
  
      
      <!-- <mat-slide-toggle [(ngModel)]="mostrarTiposDeCampos" color="primary">Mostrar tipo de campos</mat-slide-toggle> -->
      <div><mat-slide-toggle color="primary" [(ngModel)]="this.mostrarDescripcionesOperations">Mostrar descripciones</mat-slide-toggle></div>

      <div><mat-slide-toggle  color="primary" (change)="onAgrupar()" [ngModel]="this.mostrarAgrupados" >Mostrar agrupados</mat-slide-toggle></div>
      <span class="example-spacer"></span>

      <div class="metodoHttp metodoHttpGet"><mat-slide-toggle (change)="onCambiarFiltroMetodo('GET')" [ngModel]="this.mostrarMetodosGET" color="primary">GET</mat-slide-toggle></div>
      <div class="metodoHttp metodoHttpPost"><mat-slide-toggle (change)="onCambiarFiltroMetodo('POST')" [ngModel]="this.mostrarMetodosPOST"color="primary">POST</mat-slide-toggle></div>
      <div class="metodoHttp metodoHttpPut"><mat-slide-toggle (change)="onCambiarFiltroMetodo('PUT')" [ngModel]="this.mostrarMetodosPUT" color="primary">PUT</mat-slide-toggle></div>
      <div class="metodoHttp metodoHttpDelete"><mat-slide-toggle (change)="onCambiarFiltroMetodo('DELETE')" [ngModel]="this.mostrarMetodosDELETE"color="primary">DELETE</mat-slide-toggle></div>

      
      
     
      <button mat-icon-button class="iconoColapsarDesplegar" (click)="onExpandirToggle()" aria-label="Example icon-button with share icon">
        <mat-icon >{{ this.panelesExpandidos? 'expand_less' : 'expand_more'}}</mat-icon>
      </button>
    </mat-toolbar>
      
    <!-- Sección que renderiza los Dtos. -->
    <p *ngIf="!this.mostrarOperations">Cargando...</p>

    <div class="seccionEndpoints" *ngIf="this.mostrarOperations" >
      
      <mat-paginator [length]="this.paginacion.longitud"
                     [pageSize]="this.paginacion.tamanyoPagina"
                     [pageSizeOptions]="this.paginacion.opcionesPagina"
                     [pageIndex]="this.paginacion.paginaSeleccionada"
                     (page)="onSeleccionarPagina($event)"
                 
                     aria-label="Select page">
      </mat-paginator>

      <ng-container *ngIf="!this.mostrarAgrupados">
        <mat-accordion [multi]="true" >
          <app-arbol-operations
            *ngFor="let operation of this.operations" 
            [operation]="operation" 
            [expandido]="this.panelesExpandidos" 
            [mostrarDescripcionesOperations]="this.mostrarDescripcionesOperations">
            
          </app-arbol-operations>
        </mat-accordion>

      </ng-container>

      <ng-container *ngIf="this.mostrarAgrupados">
        

        <ng-container *ngFor="let tag of this.tags">

          <div class="seccionTags">
            {{ tag.tag0 + ': ' + tag.tag1}}
          </div>

          
       

          <div class="seccionOperacionesPorTags">

            <app-arbol-operations
              *ngFor="let operation of this.operationsTags(tag)" 
              [operation]="operation" 
              [expandido]="this.panelesExpandidos" 
              [mostrarDescripcionesOperations]="this.mostrarDescripcionesOperations">
            </app-arbol-operations>

          </div>
       

        
        </ng-container>
      

      </ng-container>
   

    </div>
  
  </div>
  
