
<h2 mat-dialog-title>Establecer Token</h2>





<mat-dialog-content class="mat-typography">
  <div class="contenidoCuadroDialogo">
    <div class="seccionTokenActual">
      <p>Token actual: </p>
      <div class="tokenActual">{{this.tokenActual}}</div>
    </div>
    <div class="seccionNuevoToken">
      <p>Nuevo Token: </p>
      <form [formGroup]="this.form">
        <mat-form-field class="body" appearance="outline">
          <textarea matInput  formControlName="token" ></textarea>
        </mat-form-field>
      </form>
    </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onEstablecerToken()">{{nombreBotonModificarToken}}</button>
</mat-dialog-actions>
