.contenidoCuadroDialogo {
    width: 800px;
    max-width: 800px;
    height: 400px;

 
}

.tokenActual {
    word-wrap: break-word;
    height: 100px;
    width: 800px;
    font-style: italic;
}

textarea {
    height: 100px;
    height: 100px;
    width: 800px;

  }

  .mat-form-field.body{
    
    
    width: 100%;
}