<div class="body">
    <div class="login">
        <mat-spinner diameter="50" class="spinner" *ngIf="this.cargando" ></mat-spinner>
        <form *ngIf="!this.cargando"  [formGroup]="this.form" (ngSubmit)="onEntrar()">
            <img src="./assets/img/usuario.png" alt="">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill" >
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off" type="password" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="primary" class="ancho boton" [disabled]="form.invalid">Entrar</button>

        </form>
       
      
    </div>
    
</div>

