.seccionPropiedad {
    min-height: 30px;
    display: flex;

}

.seccionNombrePropiedad {
    display: flex;
    align-items: center;
    width: 12%;
    margin-right: 20px;
    min-height: 30px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow:hidden;
    line-height: 30px;
   
}

.nombrePropiedad {
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow:hidden;
    line-height: 30px;
   

}
.botonDescripcionParametro { 
    cursor: pointer;
    margin-left: auto;
    }

.seccionTipo {
    width: 100%;
 /* display: flex; */
 justify-content: stretch;
 align-items: center;
 


}




.texto {
    display:inline-block;
    vertical-align: middle;
    line-height: normal;
}

.seccionPropiedad {
    height: min-content;
}

app-arbol-schemas {
    height: min-content;
}

