<!-- Sección que contempla el nombre del propiedad. Es común, independiente del tipo de la propiedad -->
<div class="seccion seccionPropiedad">
    <div class="seccion seccionNombrePropiedad" >
        <span class="texto nombrePropiedad"  matTooltip="{{this.parameter.name}}" [matTooltipPosition]="'right'">{{this.parameter.name}}:</span>


        <div *ngIf="this.parameter.description"  class="botonDescripcionParametro" (click)="onEjecutar(this.parameter.name, this.parameter.description)">
            <span class="texto ">
                <mat-icon style="color: #84abca; margin-left: 10px;" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">info</mat-icon>
            </span>
        </div>

    </div>

    <div class="seccion seccionTipo">
        <app-arbol-schemas [mostrarDescripcionesSchemas]="this.mostrarDescripciones" [schema]="this.parameter.schema"></app-arbol-schemas>
    </div>
</div> 