
<mat-expansion-panel [expanded]="this.expandido" *ngIf="endpoint" class="endpoint">
    
    <!-- Cabecera -->
    <mat-expansion-panel-header class="seccion seccionCabeceraEndpoint">
        <mat-panel-title>
            <div class="metodoEndpoint" [ngStyle]="{'background-color': colorMetodo(endpoint.metodoHttp).color}"> 
                {{colorMetodo(endpoint.metodoHttp).nombreMetodo}}
            </div> 
            <span>{{endpoint.uriRelativa}}</span> 
        </mat-panel-title>
      <mat-panel-description *ngIf="this.mostrarDescripcionesDtos" > This is a summary of the content </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Cuerpo: Colección de campos -->
    <div class="seccion seccionCuerpoEndpoint">


        <!-- Sección correspondiente a los campos de tipo path -->
        <mat-expansion-panel [expanded]="this.expandido" >
            
            <!-- Cabecera -->
            <mat-expansion-panel-header class="seccion seccionCabeceraEndpoint">
                <mat-panel-title>Parámetros Path</mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Cuerpo: Colección de campos -->
            <div class="seccion seccionCuerpoEndpoint">
             
                Aquí van los campos
              
            </div> <!-- Fin sección cuerpo -->
        </mat-expansion-panel>


           
        <!-- Sección correspondiente a los campos de tipo query -->
        <mat-expansion-panel [expanded]="this.expandido" >
            
            <!-- Cabecera -->
            <mat-expansion-panel-header class="seccion seccionCabeceraEndpoint">
                <mat-panel-title>Parámetros Query</mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Cuerpo: Colección de campos -->
            <div class="seccion seccionCuerpoEndpoint">
             
                Aquí van los campos
              
            </div> <!-- Fin sección cuerpo -->
        </mat-expansion-panel>


                <!-- Sección correspondiente a las respuestas -->
                <mat-expansion-panel [expanded]="this.expandido" >
            
                    <!-- Cabecera -->
                    <mat-expansion-panel-header class="seccion seccionCabeceraEndpoint">
                        <mat-panel-title>Respuestas</mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <!-- Cuerpo: Colección de campos -->
                    <div class="seccion seccionCuerpoEndpoint">
                     
                        Aquí van los campos
                      
                    </div> <!-- Fin sección cuerpo -->
                </mat-expansion-panel>
        


    </div> <!-- Fin sección cuerpo -->
</mat-expansion-panel>
  