
<span class="servidor">{{this.dataExecutionOperation.datosEjecucion.servidor}}</span> 

<ng-container *ngFor="let seccion of this.dataExecutionOperation.seccionesPath">
    <span  *ngIf="seccion.valorParametro" class="seccion valorParametro">/{{seccion.valorParametro}}</span>
    <span  *ngIf="!seccion.valorParametro" class="seccion">/{{seccion.cadena}}</span>
</ng-container>

<ng-container *ngFor="let parametroQuery of this.dataExecutionOperation.parametrosQuery; let indice=index">
    <span  class="parametroQuery">{{indice===0?'?':' & '}}{{parametroQuery.nombre}}=</span>
    <span  class="parametroQuery valorParametro">{{parametroQuery.valor}}</span>
</ng-container>


