
<!-- <span class="servidor">{{this.dataExecutionOperation.datosEjecucion.servidor}}</span>
<span class="path">{{this.dataExecutionOperation.pathParametrizada}}</span>

 -->



 <!-- <div>
                <span>Token actual: </span><span>{{this.dataExecutionOperation.datosEjecucion.tokenAutentication}}</span>
            </div>
            <div><span>Raíz del servicio: </span><span>{{this.dataExecutionOperation.datosEjecucion.servidor}}</span></div>
            <div><span>Ruta del recurso: </span><span>{{this.dataExecutionOperation.pathParametrizada}}</span></div>
            <div><span>Opciones de filtrado: </span><span>{{this.dataExecutionOperation.seccionQuery}}</span></div>
            <div><span>Ruta completa: </span><span>{{this.dataExecutionOperation.urlCompleta()}}</span></div> -->

