
mat-sidenav-container {
  height: calc(100% - 64px);

}

mat-sidenav {

  width: 300px;

}

mat-sidenav-content {

}

.webApiPestanya {
  padding:40px;
}


mat-sidenav-content {
  background-color: white;
}







