<div class="paginaWebApi">
  
  <!-- Menú Web API -->
  <div class="menuGestionWebApi">


        <button mat-raised-button color="primary" (click)="onSeleccionarDocumentoOpenApi3()">
          <!-- <mat-icon role="img" 
            class="mat-icon notranslate material-icons mat-icon-no-color" 
            aria-hidden="true" 
            data-mat-icon-type="font"
            style="margin-right: 10px;">
            account_tree
          </mat-icon> -->
          Seleccionar Documento ( Especificación OpenApi 3 )
        </button>
        



    <!-- Selector de documento OPENAPI -->
    <div class="selectorDocumento">
      <!-- <mat-form-field appearance="legacy">
        <mat-label>Entorno</mat-label>
        <mat-select [value]="this.rutaSeleccionada?.url" (selectionChange)="onSeleccionarRuta($event.value)">
          <mat-option [value]="option.url" *ngFor="let option of documentosOpenApiPrefijados">{{ option.descripcion }}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>

    <!-- Selector de documento OPENAPI -->
    <div class="selectorServidor">
      <mat-form-field appearance="legacy">
        <mat-label>Servidor</mat-label>
        <mat-select [value]="this.servidorSeleccionado?.url" (selectionChange)="onSeleccionarServidor($event.value)">
          <mat-option [value]="option.url" *ngFor="let option of this.servidoresActuales">{{ option.url }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
 
    <!-- Visualización de estado del token y acciones contextualizadas. -->
    <div class="token">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <img *ngIf="!token"   src="./assets/img/SinToken.png">
          <img *ngIf="token"   src="./assets/img/ConToken.png">
          <mat-icon>more_vert</mat-icon>
        </button>

     
      <mat-menu #menu="matMenu">
        <button *ngIf="token" (click)="onEliminarToken()" mat-menu-item>
          <mat-icon>close</mat-icon>
          <span>Eliminar token</span>
        </button>
     
          <button (click)="onReestablecerToken()" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span *ngIf="token" >Modificar token</span>
            <span *ngIf="!token" >Definir token</span>

          </button>
   


      
      
    
      </mat-menu>

      
    </div>
  
  </div>
   <!-- Fin menú Web API -->


  <!-- Pestañas de contenido -->
  <mat-tab-group>

    <mat-tab label="Endpoints de gestión"> 
      <div class="webApiPestanya">
        <app-main-operations [OpAutenticacion]="false"></app-main-operations>   
      </div>
      
    </mat-tab>

    <mat-tab label="Endpoints de autenticación"> 
      <div class="webApiPestanya">
        <app-main-operations [OpAutenticacion]="true"></app-main-operations>   
      </div>
      
    </mat-tab>
  

    <!-- Pestaña que muestra Schemas (OpenAPi.Components.Schemas) -->
    <mat-tab label="Modelo de datos">    
      
      <div class="webApiPestanya">
        <app-main-schemas [mostrarSchemas]="!this.cargando"></app-main-schemas>   
      </div>
    
    </mat-tab>
  </mat-tab-group>

    <!-- Pestaña que muestra Schemas (OpenAPi.Paths) -->


</div>


     
  


