<div class="paginaWebApi">
  
  <!-- Menú Web API -->
  <div class="menuGestionWebApi">
    
    <!-- Botón para seleccionar un documento openApi 3 -->
    <button mat-raised-button color="primary" (click)="onSeleccionarDocumentoOpenApi3()">
      Seleccionar Documento ( Especificación OpenApi 3 )
    </button>
        
    <!-- Información del documento seleccionado -->
    <div class="infoDocumentoActual">
      {{ this.documentoSeleccionado?.descripcion}}
    </div>

    <!-- Selector de servidores del documento seleccionado -->
    <div class="selectorServidor">
      <mat-form-field appearance="legacy">
        <mat-label>Servidor</mat-label>
        <mat-select [value]="this.servidorSeleccionado?.url" (selectionChange)="onSeleccionarServidor($event.value)">
          <mat-option [value]="option.url" *ngFor="let option of this.servidoresActuales">{{ option.url }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
 
    <!-- Visualización de estado del token y acciones contextualizadas. -->
    <div class="token">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <img *ngIf="!token"   src="./assets/img/SinToken.png">
          <img *ngIf="token"   src="./assets/img/ConToken.png">
          <mat-icon>more_vert</mat-icon>
        </button>

     
      <mat-menu #menu="matMenu">
        <button *ngIf="token" (click)="onEliminarToken()" mat-menu-item>
          <mat-icon>close</mat-icon>
          <span>Eliminar token</span>
        </button>
     
        <button (click)="onReestablecerToken()" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span *ngIf="token" >Modificar token</span>
          <span *ngIf="!token" >Definir token</span>
        </button>

        <div class="metodoHttp metodoHttpGet"><mat-slide-toggle (change)="onPersistirToken()" [ngModel]="this.persistirToken" color="primary">Persistir token</mat-slide-toggle></div>
    
    
      </mat-menu>

      
    </div>
  
  </div>
   <!-- Fin menú Web API -->


  <!-- Pestañas de contenido -->
  <mat-tab-group>

    <mat-tab label="Endpoints de gestión"> 
      <div class="webApiPestanya">
        <app-main-operations [OpAutenticacion]="false"></app-main-operations>   
      </div>
      
    </mat-tab>

    <mat-tab label="Endpoints de autenticación"> 
      <div class="webApiPestanya">
        <app-main-operations [OpAutenticacion]="true"></app-main-operations>   
      </div>
      
    </mat-tab>
  

    <!-- Pestaña que muestra Schemas (OpenAPi.Components.Schemas) -->
    <mat-tab label="Modelo de datos (vista por DTOs)">    
      
      <div class="webApiPestanya">
        <app-main-schemas [mostrarSchemas]="!this.cargando"></app-main-schemas>   
      </div>
    
    </mat-tab>

    <mat-tab label="Modelo de datos (vista por propiedades)"> 
      <div class="webApiPestanya">
        <app-main-properties></app-main-properties> 
      </div>
      
    </mat-tab>
  </mat-tab-group>



    <!-- Pestaña que muestra Schemas (OpenAPi.Paths) -->


</div>


     
  


