.webApiPestanya {
  padding:20px;
  padding-top: 5px;
}

.menuGestionWebApi {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
}

.mat-raised-button.mat-primary {
  height: 35px;
  border-radius: 5px;
  
}

.infoDocumentoActual{
 flex:2;
 text-align: center;
 font-size: 20px;
}

.selectorServidor {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.token {
  display: flex;
}

.token img {
  height: 30px;
}

img {
  height: 20px;
}



::ng-deep .mat-menu-panel {
  width: 200px !important;

}


mat-form-field {

  min-width: 400px;
}

.seccionMenu {
  display:flex;
}




