.webApiPestanya {
  padding:20px;
  padding-top: 5px;
}



.menuGestionWebApi {

  background-color: #f7f7f7;
  width: 100%;
  padding: 10px;
  display: flex;
  padding-left: 200px;
  text-align: center;
  padding-right: 30px;
}

.selectorDocumento {
 flex:1
}

.token {
  display: flex;
}

.token img {
  height: 30px;
}



mat-form-field {
  min-width: 300px;
}




