mat-panel-title {
    width: 25%;
}







.schemaPadre mat-expansion-panel-header {
    height: 39px;
    /* background-color: #d3deee;
    background-color:  #C9D6E8;
    /* border-bottom-style: solid; */

    /* box-shadow: 1px 1px 2px #999;  */
    border-bottom-style: solid; 
    border-bottom-width: 1px;
    border-color: #eee;


   
}

.schemaHijo mat-expansion-panel-header {
    height: 29px;

    background-color: #fcfcfc;
    background-color:  #C9D6E8;
    box-shadow: 1px 1px 1px #999;

}


.seccionCabeceraSchema {
    background-color: #f1f1f1;
    box-shadow: 1px 1px 2px #999;
    min-height: 15px;
    margin-bottom: 5px;
    display: flex;
    padding-left: 6px;
}

.schemaPadre > .seccionCabeceraSchema{
    background-color: #ddd;
    /* border-top-style: solid;
    border-top-width: 1px; */

}

.seccionCuerpo {
    padding-top: 5px;
    /* border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc; */
    min-height: 20px;
    margin-left: 1px;
    padding-left: 5px;

}

.seccionCampo {
    margin:1px;
    min-height: 30px;
    margin-bottom: 5px;
    display: flex;

}

.seccionNombreCampo {
    width: 20%;
    min-height: 30px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    
}

.seccionNombreCampoExpandido {
    width: 100%;

}

.seccionNombreCampo, .seccionDatosTipoCampoSimple  {
    padding-top: 4px;
}


.seccionDatosTipoCampoSimple {
    font-style: oblique;
}



.seccionTipo {
    width: 100%;
}


:host ::ng-deep .mat-expansion-panel-body {
    padding-right: 5px;
}

mat-icon {
    font-size: 17px;
    color: #2b83bd;
    margin: 0px;
    padding: 0px;
    vertical-align:middle;
   
}

