<mat-expansion-panel 
  *ngIf="schema"
  class="schema"
  [ngClass]="{'schemaPadre' : esSchemaRaiz}"
  [(expanded)]="this.expandido" 
  [hideToggle]="!this.tienePropiedades()" 
  [ngClass]="{'mat-elevation-z0' : !this.tienePropiedades()}"
  [ngClass]="{'deshabilitarExpansion' : !this.tienePropiedades()}">
  
  <!-- Cabecera -->
  <mat-expansion-panel-header>
    <div class="seccion seccionHeader">

      <div *ngIf="!schema.enum" class="seccion seccionHeaderNombreSchema">
        {{schema.key?schema.key+':':''}}
      </div> 

      <div class="seccion seccionHeaderAtributos">
        <span 
        *ngIf="schema.type && !schema.enum"
        class="seccionHeaderAtributo" 
        [ngStyle]="{'background-color': colorAtributoSchema('tipo')}" 
        mat-raised-button #tooltip="matTooltip" matTooltipShowDelay="500" matTooltip="Tipo:{{schema.type}}">
        {{this.textoTipo(schema.type)}}
      </span> 

      <span 
      *ngIf="schema.type && schema.enum"
      class="seccionHeaderAtributo" 
      [ngStyle]="{'background-color': colorAtributoSchema('tipo')}" 
      mat-raised-button #tooltip="matTooltip" matTooltipShowDelay="500" matTooltip="Tipo:{{schema.type}}">
      {{ 'Enumerado:  valores posibles {' }}
      
      <span *ngFor="let valor of schema.enum">
        {{valor }}
      </span>
      {{'}'}}
    </span> 

      <span class="atributoSchema"
        *ngIf="schema.format"
        class="seccionHeaderAtributo" 
        [ngStyle]="{'background-color': colorAtributoSchema('formato')}"  
        mat-raised-button #tooltip="matTooltip" matTooltipShowDelay="500" matTooltip="Formato: {{schema.format}}">
        {{this.textoFormato(schema.format)}}
      </span>

      <span class="seccionHeaderAtributo" [ngStyle]="{'background-color': colorAtributoSchema('admiteNulo')}" > 
        {{ this.admiteNulo() }}
      </span>


      </div>
    
      <div *ngIf="this.mostrarDescripcionesSchemas"  class="seccion seccionHeaderDescripcionSchema">
        <span 
          mat-raised-button 
          #tooltip="matTooltip" 
          matTooltipShowDelay="1000"
          matTooltip="{{schema.description}}">
          {{schema.description}}
        </span>
      </div>

    </div>

  </mat-expansion-panel-header>

</mat-expansion-panel>


<div *ngIf="1">


  <!-- Cuerpo: Colección de campos -->
  <div *ngIf="this.tienePropiedades() && this.expandido"  class="seccion seccionCuerpo">
  
    <div class="seccion seccionPropiedad" *ngFor="let property of schema.properties" >
  
      <!-- Sección que contempla el nombre del propiedad. Es común, independiente del tipo de la propiedad -->
      <div class="seccion seccionNombrePropiedad" [ngClass]="{'seccionNombrePropiedadExpandido' : !this.mostrarTiposDePropiedades}">
        <!-- <mat-icon *ngIf="property.value.type === 'array'">reorder</mat-icon> Solo se muestra cuando se trata de un array -->
        <span *ngIf="property.value.type === 'array'" style="color:red; font-weight:bold; font-size: 10px;">[ ... ]</span>

        {{property.name}}{{this.mostrarTiposDePropiedades?':':null}}
        
      </div>

      <!-- En esta sección hay bifurcaciones en base al tipo  -->
      <div class="seccion seccionTipo">
        

        <!-- Caso 2. Propiedades de tipo object -->
        <ng-container *ngIf="property.value.type === 'object' || this.tipoPropiedad(property.value.type)===enumTipologiaDePropiedades.SIMPLE" >
          <div class="seccion seccionDatosTipoPropiedad seccionDatosTipoPropiedadSimple" *ngIf="this.mostrarTiposDePropiedades"  >
            <app-arbol-schemas class="schemaHijo" [mostrarDescripcionesSchemas]="this.mostrarDescripcionesSchemas" [schema]="property.value" [esSchemaRaiz]="false" [expandido]="this.expandido"></app-arbol-schemas>
          </div>
        </ng-container>

        <!-- Caso 3. Propiedades de tipo array -->
        <ng-container *ngIf="property.value.type === 'array'" >
        <div class="seccion seccionDatosTipoPropiedad seccionDatosTipoPropiedadSimple" *ngIf="this.mostrarTiposDePropiedades"  >
          <app-arbol-schemas   [mostrarDescripcionesSchemas]="this.mostrarDescripcionesSchemas" [schema]="property.value.items" class="schemaHijo" [esSchemaRaiz]="false" [expandido]="this.expandido"></app-arbol-schemas>
        </div>
      </ng-container>

      </div> 
    </div>
  </div>

</div>



    