.campos {
    margin-top: 6px;
    margin-left: 42px;
    padding-left: 5px;
    border-left-style: solid;
    border-left-color: grey;
    border-left-width: 1px;
    
  }

  .tipoDto {
    font-weight: bold;
  }
  
  .tipo {
   
    font-style: italic;
    color: grey;
  }

  .cabeceraDtoRaiz {
    margin-top: 8px;
    background-color: #ddd

  }

  .cabeceraDtoHijo {
    height: 25px;

  }


  .xDto {

    margin-bottom: 45px;

  

  }

  .boton-expandir {
  
    transform: rotate(0deg);
  }




  .boton-expandir.rotado {
  
    transform: rotate(-90deg);
  }
