<div class="xDto" *ngIf="dto" >
    <div [ngClass]="esDtoRaiz ? 'cabeceraDtoRaiz' : 'cabeceraDtoHijo'">
        <button  (click)="expandir = !expandir"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon class="boton-expandir" [ngClass]="{'rotado' : !expandir}">expand_more</mat-icon>
        </button>
        {{ this.nombreCampo? this.nombreCampo+": ":null}}<span class="tipoDto">{{dto.tipo}}</span>
    </div>
    <div *ngIf="!this.esCampoSimple(dto) && expandir"  class="cuerpo">
        <div class="campos">
            <ng-container *ngFor="let campo of dto.campos" >

                <div class="campoSimple" *ngIf="this.esCampoSimple(campo)">
                    {{ (campo | como : ICampoSimple).denominacion }}<span *ngIf="!this.ocultarTipos"  class="tipo" >: [{{ (campo | como : ICampoSimple).tipo }}]</span>
                </div>

                <div class="Dto" *ngIf="!this.esCampoSimple(campo)">
                    <app-arbol-dto [dto]="(campo | como : IDto)" [nombreCampo]="(campo | como : ICampoSimple).denominacion"></app-arbol-dto>
                </div>
            </ng-container>

        </div>
      
    </div>





</div>
