<mat-sidenav-container> 
  <mat-sidenav #sideNav opened mode="side">
    <app-sidenavDtos>qq</app-sidenavDtos>
  </mat-sidenav>

  <mat-sidenav-content> 
    <app-main-dtos [dtos]="dtos">
      
    </app-main-dtos>    
  </mat-sidenav-content>
  
</mat-sidenav-container> 

<!-- <mat-sidenav-container class="example-container" >

  <mat-sidenav mode="side" opened>I am Sidenav bar ..  </mat-sidenav>

  <mat-sidenav-content> 
    
    <mat-toolbar>
      <button mat-icon-button ><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">DTOS</h1>
    </mat-toolbar>

    <div class="contenido" >
      <app-arbol-dto [dto]="dto" [esDtoRaiz]="true"></app-arbol-dto>
      <app-arbol-dto [dto]="dto" [esDtoRaiz]="true"></app-arbol-dto>
    </div>


  </mat-sidenav-content>
  
</mat-sidenav-container> -->




<!-- 

    
     
  


 

</mat-sidenav-container> -->

