/*  */
app-arbol-dto {

    margin-bottom: 20px;
}

.seccionEndpoints {
    margin-top: 20px;
}

.example-spacer {
    flex: auto;
}

mat-toolbar {
    margin-bottom: 15px;
    padding: 8px;
    padding-right: 0px;
    background-color: white;
    font-size: 15px;



}


.seccionBuscador {
    width: 40%;
}


.iconoColapsarDesplegar {
    margin-left: 40px;
}

.iconoFiltrarAgrupacion {
    margin-left: 40px;

}


:host ::ng-deep .prueba .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0px;;
}


/* ------------------------------------------------------------ */
/* Definición de colores en slide relativos a filtro de métodos */
/* ------------------------------------------------------------ */

/* GET */
::ng-deep .metodoHttpGet >  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #61affe;

}
.metodoHttpGet {
    color: #61affe;
}

/* POST */
::ng-deep .metodoHttpPost >  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #49cc90;

}
.metodoHttpPost {
    color: #49cc90;
}


/* PUT */
::ng-deep .metodoHttpPut >  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #fca130;

}
.metodoHttpPut {
    color: #fca130;
}


/* DELETE */
::ng-deep .metodoHttpDelete >  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #f93e3e;

}
.metodoHttpDelete {
    color: #f93e3e;
}

/* General a todos los métodos http. fondo de los slides */

::ng-deep .metodoHttp > .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ddd;  /*replace with your color*/
}







/* switch(metodo) { 
    case EnumMetodoHttp.GET: { 
       return {color:'#61affe', nombreMetodo:'GET'}
       break; 
    } 
    case EnumMetodoHttp.POST: { 
      return {color:'#49cc90', nombreMetodo:'POST'}
      break; 
    } 
    case EnumMetodoHttp.PATCH: { 
      return {color:'#dfcaa6', nombreMetodo:'PATCH'}
      break; 
    } 
    case EnumMetodoHttp.DELETE: { 
      return {color:'#f93e3e', nombreMetodo:'DELETE'}
      break; 
    } 
    case EnumMetodoHttp.PUT: { 
      return {color:'#fca130', nombreMetodo:'PUT'}
      break; 
    } 
 }  */