<div mat-dialog-title class="cabeceraDialog">
    <div>
        <h1 mat-dialog-title>Ejecución de endPoints</h1>
    </div>
      
  </div>


    <div mat-dialog-content>
        <div class="secciones">
            <div class="seccion seccionCabecera">
               <span class="metodoHttp" [ngStyle]="{'background-color': this.obtenerColorMetodo(this.data.metodo).color}">{{ this.obtenerColorMetodo(this.data.metodo).nombreMetodo }}</span>
               <span class="path">{{ this.data.path}}</span>
            </div> 

            <div class="seccion seccionEntradas">
                <h1>ENTRADA</h1>
                
                <div class="parametros" *ngIf="this.tieneParametros" >
                    <h2>Parámetros:</h2>
                    <form [formGroup]="formParametros">
                        <ng-container *ngFor="let parametro of this.data.parameters" >
                                <mat-form-field appearance="legacy">
                                  <mat-label>{{ parametro.name}}</mat-label>
                                  <input matInput >
                                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                  <mat-hint>Ej: 12345678-1234-1234-1234567812345678</mat-hint>
                                </mat-form-field>
                            
                            
                        </ng-container>
                        <label for="street">Street</label>
                        <!-- <input type="text" class="form-control" name="street" formControlName="street"> -->
   

                    </form>
                </div>
                <h2>Body:</h2>

                {{ this.data.requestBody| json }}

            </div>

            <div class="seccion seccionAcciones">
                <div>
                    <div class="botonEjecucion">
                        <div class="icono"><mat-icon  class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">restart_alt</mat-icon></div>
                        <div class="icono"><mat-icon  class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">play_circle</mat-icon></div>
                    
                    </div>
                </div>
                
            </div>
            <div class="seccion seccionSalidas">
                <h1>SALIDA</h1>
                <h2>Código:</h2>
                <h2>Respuesta:</h2>
            </div>
            <div class="seccion seccionPie">
                <div>
                    <span>Token actual: </span><span>No definido</span>
                </div>
                <div><span>Servidor: </span><span>{{this.servidorActual()}}</span></div>
                
            </div>
        </div>

        <!-- {{ data | json}} -->

    </div>
    <div mat-dialog-actions class="pieDialog">
      <div>
        <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cerrar</button>
      </div>
        
    </div>

