.secciones {
    width: 1500px;
    height: 600px; 
    min-width: 1500;
    overflow:-moz-hidden-unscrollable;
    display: grid;

    grid-template-columns: 47% 6% 47% ;
    grid-template-rows: 8% 75% 12% ;
    
    grid-gap: 8px;
    
}

.seccion {
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.2px;
    border-color: #eee;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
    
    /* background-color: #e4e4e4; */
}

.seccionCabecera {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;

    display: flex;

    font-size: 20px;
}

.seccionEntradas {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    overflow-y: scroll;
}

.seccionSalidas {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    overflow-y: scroll;
}

.seccionAcciones {
    
    border-style: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    font-size: 25px;
    

}

.seccionPie {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.metodoHttp {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    height: 35px;
    border-radius: 5px;

}

.path {
    margin-left: 20px;
    line-height: 34px;
}

.pieDialog, .cabeceraDialog {
    display: flex;
    flex-direction: row-reverse;
}

.cabeceraDialog h1 {
    font-size: xx-large;
}

mat-icon {
    
    font-size: 40px !important; 
    height: 40px;
    width: 40px;
    color:#2b377b
}
.mat-form-field {
    width: 70%;
}

.mat-form-field.body{
    
    width: 100%;
}



h2 {
    margin-bottom: 0px;
}





.seccion {
    overflow: auto;

    
    /*Firefox*/
    scrollbar-color:grey;

    scrollbar-width: thin;
  }
  /*Webkit*/
  .seccion::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;

  }
  .seccion::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
    background-color: #ddd;
    border-radius: 5px;
  }
  .seccion::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;
    
  }


  textarea {
    height: 100px;

  }
