.panelEjecucion {
  width: 100%;
}
.secciones {
     height: 600px; 
    overflow:-moz-hidden-unscrollable;
    display: grid;
    grid-template-columns: 47% 6% 47% ;
    grid-template-rows: 10% 5% 65% 20% ; 
}



.metodoHttp {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    height: 35px;
    border-radius: 5px;

}

.path {
    margin-left: 20px;
    line-height: 34px;
}

.pieDialog, .cabeceraDialog {
    display: flex;
    flex-direction: row-reverse;
}

.cabeceraDialog h1 {
    font-size: xx-large;
}

mat-icon {
    
    font-size: 40px !important; 
    height: 40px;
    width: 40px;
    color:#222;
}

.mat-form-field {
    width: 70%;
}

.mat-form-field.body{
    
    width: 100%;
}

h2 {
    margin-bottom: 0px;
}

.seccion {
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.2px;
    border-color: #eee;
    margin-bottom: 5px;
    overflow: auto;
    scrollbar-color:grey;
    scrollbar-width: thin;
  }
  .seccionCabeceraPanel {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    font-size: 20px;
}

.seccionCabeceraEntradas {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: none;
    overflow: hidden;
    text-align: right;
}

.seccionCuerpoEntradas {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    overflow-y: scroll;
}

.seccionCabeceraSalidas {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    border: none;
    overflow: hidden;
    text-align: right;

}

.seccionCuerpoSalidas {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    overflow-y: scroll;
}

.seccionAcciones {
    
    border-style: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    font-size: 25px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    

}

.seccionPiePanel {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

  .seccion::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;

  }

  .seccion::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
    background-color: #ddd;
    border-radius: 5px;
  }
  .seccion::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;
  }

  textarea {
    height: 100px;

  }

  .boton {
    cursor: pointer;
  }

   ::ng-deep .ngx-json-viewer {
    overflow:visible !important;
   
  }




  .seccionCuerpoSalidas {

    display: flex;
    flex-direction: column;


  }



  .panelSolicitudNuevoToken {
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
  }

  .panelSolicitudNuevoToken p {
    margin: 0px;
  }

  .panelSolicitudNuevoToken  .aceptar {
    margin-left: auto;
    margin-right: 5px;
  }
   
  