
<div class="panelEjecucion">

    <div  class="seccionNivel1 cabeceraDialog">
                <h1 mat-dialog-title>Ejecución de endPoints</h1>  
    </div>
    <div  class="seccionNivel1  contenido">
       
        <div class="secciones">
            <div class="seccion seccionCabeceraPanel" [ngStyle]="{'background-color': colorMetodo(this.data.metodo).colorFondoClaro}">
                <span class="metodoHttp" [ngStyle]="{'background-color': colorMetodo(this.data.metodo).color}">{{ this.colorMetodo(this.data.metodo).nombreMetodo }}</span>
                <span class="path">{{ this.data.path}}</span>
            </div> 
                
            <div class="seccionCabeceraEntradas">
                <h2>ENTRADAS</h2>
            </div>
            <div class="seccionCabeceraSalidas">
                <h2>SALIDAS</h2>
            </div>

            <div class="seccion seccionCuerpoEntradas">
                            
                <div class="parametros" *ngIf="this.tieneParametros" >
            
                    <h2>Parámetros:</h2>
                    <form [formGroup]="formParametros">
                        <ng-container *ngFor="let parametro of this.data.parameters" >

                            <!-- <div class="parametro" *ngIf="this.tipoParametro(parametro).tipoDato==='booleano'">
                                <div>
                                    <mat-checkbox class="example-margin" formControlName="{{parametro.name}}">
                                        {{parametro.name}}
                                    </mat-checkbox>
                                </div>                        
                            </div> -->

                            <div class="parametro" *ngIf="this.tipoParametro(parametro).tipoDato==='booleano'">
                                <div>
                                    <mat-form-field appearance="legacy">

                                        <mat-label>{{ parametro.name}}</mat-label>
                                        <mat-select class="example-margin" formControlName="{{parametro.name}}">
                                            <mat-option value="">No establecido</mat-option>
                                            <mat-option value="true">Sí</mat-option>
                                            <mat-option value="false">No</mat-option>
                                        </mat-select>
                                        
                                    </mat-form-field>
                                </div>                        
                            </div>
                    

                            <div class="parametro" *ngIf="this.tipoParametro(parametro).tipoDato==='texto'">
                                <mat-form-field appearance="legacy">
                                    <mat-label>{{ parametro.name}}</mat-label>
                                    <input matInput type="{{this.tipoParametro(parametro).tipoDato}}" formControlName="{{parametro.name}}">
                                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                    <mat-hint *ngIf="this.tipoParametro(parametro).formato === 'uuid'">Ej: 12345678-1234-1234-1234567812345678</mat-hint>     
                                    <mat-hint *ngIf="this.tipoParametro(parametro).formato === 'fecha'">Ej: 2022-06-27</mat-hint>    
                                    <mat-hint *ngIf="this.tipoParametro(parametro).formato === 'fecha-hora'">Ej: 2022-06-27T08:20:00Z</mat-hint>   
                                    <mat-hint *ngIf="this.tipoParametro(parametro).formato === ''">cadena de texto</mat-hint>      
                                </mat-form-field>

                            </div>
                            <br>

                            
                            
                        </ng-container>
                        
                        <!-- <input type="text" class="form-control" name="street" formControlName="street"> -->


                    </form>
                </div>

                <div class="body" *ngIf="this.data.requestBody" >
            
                    <h2>Body:</h2>
                    <form [formGroup]="formBody">
                        
                        <mat-form-field class="body" appearance="legacy">
                            <textarea matInput  formControlName="body" ></textarea>
                        </mat-form-field>

                    </form>
                </div> 

            </div>

            <div class="seccion seccionAcciones">
                <div>
                    <div class="botonEjecucion">
                        <div class="icono boton" >
                            <mat-icon   class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font" (click)="onResetear()">
                                <span matToolTip="resetear datos de entrada">restart_alt</span>
                            </mat-icon>
                        </div>
                        <div class="icono boton" >
                            <mat-icon  matToolTip="ejecutar" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font" (click)="onEjecutarOperation()">
                                play_circle
                            </mat-icon>
                        </div>
                    
                    </div>
                </div>
                
            </div>

            <div class="seccion seccionCuerpoSalidas">
                
                <div class="cabeceraSeccionCuerpoSalida">
                    <div 
                   *ngIf="this.mostrarPanelActualizacionToken"   
                    class="panelSolicitudNuevoToken">
                        <p>Se ha detectado un nuevo token. ¿Desea establecerlo como token actual?</p>
                        <button mat-raised-button color="basic" class="aceptar" (click)="onAceptarNuevoToken()">Sí</button>
                        <button mat-raised-button color="basic" class="noAceptar" (click)="this.mostrarPanelActualizacionToken=false">No</button>
                    </div>
                    <h2>Respuesta:</h2>
                          
                
                </div>

                <div class="cuerpoSeccionCuerpoSalida">
                    <ngx-json-viewer *ngIf="this.respuesta" [json]="this.respuesta"></ngx-json-viewer>
                </div>

                <div class="pieSeccionCuerpoSalida">
                    <h3 style="margin: 0px;">Información adicional de la ejecución:</h3>
                    <div style="padding: 5px; background-color: #eee; height: 30px;">
                        <div class="informacionAdicionaEjecucion" *ngIf="this.respuesta" >
                            <div style="margin-right: 20px;">
                                Código de respuesta: <span style="font-weight: bold;" *ngIf="this.respuesta"> {{this.codigoRespuesta}}</span>
                            </div>
                            <div>
                                Tiempo de ejecución: <span style="font-weight: bold;"  *ngIf="this.respuesta"> {{this.tiempoTotal}}ms</span>
                            </div>
                                                       
                            <div class="icono boton" >
                                <mat-icon  
                                    matToolTip="ejecutar" 
                                    class="mat-icon-pequenyo notranslate material-icons mat-icon-no-color" 
                                    aria-hidden="true" 
                                    data-mat-icon-type="font" 
                                    (click)="this.onCopiarRespuestaEnPortaPapeles(this.respuesta)">
                                    <span class="material-symbols-outlined">
                                        content_copy
                                        </span>
                                </mat-icon>
                            </div>
                            
                        </div>
                    </div>
                    

                </div>

            


            </div>

            <div class="seccion seccionPiePanel">
            
                <app-panel-operation-information-execution [dataExecutionOperation]="this.ejecucionOperation"></app-panel-operation-information-execution>
                
            </div>
        </div>
    

    </div>
    <div class="seccionNivel1  pieDialog">

        <div>
            <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cerrar</button>
        </div>
        
    </div>

</div>

