mat-panel-title {
    width: 25%;
}


.operation mat-expansion-panel-header {
    height: 39px;
    border-bottom-style: solid; 
    border-bottom-width: 1px;
    border-color: #eee;
}



.seccionCabeceraOperation {
    background-color: #f1f1f1;
    box-shadow: 1px 1px 2px #999;
    min-height: 15px;
   
    display: flex;
    padding-left: 6px;
}

.operation > .seccionCabeceraOperation{
    background-color: #ddd;
}

.seccionCuerpoOperation {
   padding: 10px;
   margin: 0px;
    min-height: 20px;
     background-color: #f5f5f5;
    
}

.seccionCuerpoSubseccionOperation {
   
    min-height: 20px;
    padding: 5px;
    background-color: #efefef;

}

.seccionCabeceraSubseccionOperation {
   

    background-color: #e5e5e5;

}


:host ::ng-deep .mat-expansion-panel-body {
    padding: 0px;
    margin: 0px;

}

:host ::ng-deep .mat-expansion-panel-header {
    padding-left: 5px;
}

.metodoOperation {
    width: 50px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
}

.seccionPieContenido {
    padding: 5px;
    display: flex;
   
    justify-content: center;
}



.botonEjecucion { 
    margin-top: 5px;
    width: 200px;
    padding-top: 3px;
    display: flex;
    background-color: #ddd;
    justify-content: center;
    border-radius: 6px;
    font-size: 16px;
    line-height: 26px;

    }

    mat-icon {
    
        font-size: 25px !important; 
        height: 25px;
        width: 25px;
        color:#2b377b;
        margin-right: 10px;
        
    }
    




