
<mat-expansion-panel [expanded]="this.expandido" *ngIf="this.operation" class="operation">
    
    <!-- Cabecera -->
    <mat-expansion-panel-header class="seccion seccionCabeceraOperation">
        <mat-panel-title>
            <div class="metodoOperation" [ngStyle]="{'background-color': colorMetodo(operation.metodo).color}"> 
                {{colorMetodo(operation.metodo).nombreMetodo}}
            </div> 
            <span>{{operation.path}}</span> 
        </mat-panel-title>
      <mat-panel-description *ngIf="this.mostrarDescripcionesOperations" > This is a summary of the content </mat-panel-description>

    </mat-expansion-panel-header>

    <!-- Cuerpo: Colección de campos -->
    <div class="seccion seccionCuerpoOperation">

        <mat-accordion [multi]="true">
        <!-- Sección correspondiente a los campos de tipo path -->
        <mat-expansion-panel *ngIf="this.parametrosPath()" [expanded]="this.expandido" >
            
            <!-- Cabecera -->
            <mat-expansion-panel-header class="seccion seccionCabeceraSubseccionOperation">
                <mat-panel-title>Parámetros Path</mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Cuerpo: Colección de campos -->
            <div class="seccion seccionCuerpoSubseccionOperation">
                <app-parameters-operation  [parameters]="this.parametrosPath()" ></app-parameters-operation>
            </div> <!-- Fin sección cuerpo -->
        </mat-expansion-panel>
           
        <!-- Sección correspondiente a los campos de tipo query -->
        <mat-expansion-panel *ngIf="this.parametrosQuery()"  [expanded]="this.expandido" >
            
            <!-- Cabecera -->
            <mat-expansion-panel-header class="seccion seccionCabeceraSubseccionOperation">
                <mat-panel-title>Parámetros Query</mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Cuerpo: Colección de campos -->
            <div class="seccion seccionCuerpoSubseccionOperation">
                <app-parameters-operation [parameters]="this.parametrosQuery()"></app-parameters-operation>
            </div> <!-- Fin sección cuerpo -->

        </mat-expansion-panel>


        <!-- Sección correspondiente a las respuestas -->
        <mat-expansion-panel [expanded]="this.expandido" >
    
            <!-- Cabecera -->
            <mat-expansion-panel-header class="seccion seccionCabeceraSubseccionOperation">
                <mat-panel-title>Respuestas</mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Cuerpo: Colección de campos -->
            <div class="seccion seccionCuerpoSubseccionOperation">
                
                Aquí van los campos
                
            </div> <!-- Fin sección cuerpo -->
        </mat-expansion-panel>
    </mat-accordion>


        <div class="seccion seccionPieContenido">
            <div class="botonEjecucion" (click)="onEjecutar()">
                <div class="icono"><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">play_circle</mat-icon></div>
                <div class="texto">
                    <span style="margin-top:9px">
                    Ejecutar
                    </span></div>
                
            </div>
             
        </div>
        


    </div> <!-- Fin sección cuerpo -->
</mat-expansion-panel>
  