<mat-expansion-panel [expanded]="this.expandido" *ngIf="this.operation" class="operation panelPadre">

    <!-- Cabecera -->
    <mat-expansion-panel-header class="seccion seccionCabeceraOperation"  [ngStyle]="{'background-color': colorMetodo(operation.metodo).colorFondo, 'padding': 'none'}">
      
        <div 
        class="contenidoCabeceraOperation" 
        [ngClass]="this.mostrarDescripcionesOperations ? 'contenidoCabeceraOperationConDescripcion':'contenidoCabeceraOperationSinDescripcion'" >

            <div class="metodoOperation" [ngStyle]="{'background-color': colorMetodo(operation.metodo).color}"> 
                {{colorMetodo(operation.metodo).nombreMetodo}}
            </div> 

            <div class="pathOperation">
                {{operation.path}}
            </div>
            
            <div *ngIf="this.mostrarDescripcionesOperations"
                class="descripcionOperation">
                {{ this.operation.summary}}
            </div>

        </div>

    </mat-expansion-panel-header>

    <!-- Cuerpo: Colección de campos -->
    <div class="seccion seccionCuerpoOperation">

        <mat-accordion [multi]="true">

            <!-- Sección correspondiente a los campos de tipo path -->
            <mat-expansion-panel class="panelHijo" *ngIf="this.parametrosPath()"  [expanded]="this.expandido" >
                <!-- Cabecera -->
                <mat-expansion-panel-header class="seccion seccionCabeceraSubseccionOperation" [ngStyle]="{'background-color': colorMetodo(operation.metodo).colorFondoClaro, 'padding': 'none'}">
                    <mat-panel-title>Parámetros Path</mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Cuerpo: Colección de campos -->
                <div class="seccion seccionCuerpoSubseccionOperation">
                    <app-parameters-operation [mostrarDescripciones]="this.mostrarDescripcionesOperations" [parameters]="this.parametrosPath()" ></app-parameters-operation>
                </div> <!-- Fin sección cuerpo -->
            </mat-expansion-panel>
            
            <!-- Sección correspondiente a los campos de tipo query -->
            <mat-expansion-panel class="panelHijo" *ngIf="this.parametrosQuery()"  [expanded]="this.expandido" >
                
                <!-- Cabecera -->
                <mat-expansion-panel-header class="seccion seccionCabeceraSubseccionOperation" [ngStyle]="{'background-color': colorMetodo(operation.metodo).colorFondoClaro, 'padding': 'none'}">
                    <mat-panel-title>Parámetros Query</mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Cuerpo: Colección de campos -->
                <div class="seccion seccionCuerpoSubseccionOperation">
                    <app-parameters-operation [parameters]="this.parametrosQuery()"></app-parameters-operation>
                </div> <!-- Fin sección cuerpo -->

            </mat-expansion-panel>

            <!-- Sección correspondiente al body -->
            <mat-expansion-panel  *ngIf="this.operation.requestBody" class="panelHijo" [expanded]="this.expandido" >

                <!-- Cabecera -->
                <mat-expansion-panel-header class="seccion seccionCabeceraSubseccionOperation" [ngStyle]="{'background-color': colorMetodo(operation.metodo).colorFondoClaro, 'padding': 'none'}">
                    <mat-panel-title>Body:</mat-panel-title>
            
                </mat-expansion-panel-header>

                <!-- Cuerpo: Colección de campos -->
                <div class="seccion seccionCuerpoSubseccionOperation">
                    {{bodyComoCadena()}}
                </div> <!-- Fin sección cuerpo -->
            </mat-expansion-panel>

            <!---------------------------------------------->
            <!-- Sección correspondiente a las respuestas -->
            <!---------------------------------------------->
            <mat-expansion-panel *ngIf="this.operation.responses" class="panelHijo" [expanded]="false" [(expanded)]="respuestasExpanded">
        
                <!-- Cabecera -->
                <mat-expansion-panel-header class="seccion seccionCabeceraSubseccionOperation" [ngStyle]="{'background-color': colorMetodo(operation.metodo).colorFondoClaro, 'padding': 'none'}">
                    <mat-panel-title>Respuestas:
                        <div class="tagsCodigoHttp">
                            <span class="tagCodigoHttp" [ngStyle]="{'background-color': x.codigoHttpOrDefault==='200'?'rgb(73,204,144)':'#ff6961'}" *ngFor="let x of validResponses() ">
                                {{x.codigoHttpOrDefault}} 
                            </span>
                        </div>
                        
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                
            </mat-expansion-panel>

            <div *ngIf="respuestasExpanded"  class="seccion seccionCuerpoSubseccionOperation">
                <app-responses-operation [responsesWithCodeHttp]="this.operation.responses"></app-responses-operation>
            </div> <!-- Fin sección cuerpo -->

    </mat-accordion>


        <div class="seccion seccionPieContenido">
            <div class="botonEjecucion" (click)="onEjecutar()">
                <div class="icono"><mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">play_circle</mat-icon></div>
                <div class="texto">
                    <span style="margin-top:9px">
                    Ejecutar
                    </span></div>
                
            </div>
                
        </div>
        


    </div> <!-- Fin sección cuerpo -->

</mat-expansion-panel>
    