
app-arbol-dto {

    margin-bottom: 20px;
}

.seccionSchemas {
    margin-top: 20px;
}

.example-spacer {
    flex: auto;
}

mat-toolbar {
    margin-bottom: 15px;
    padding: 8px;
    padding-right: 0px;
    background-color: white;
    font-size: 15px;
}

.seccionBuscador {
    width: 40%;
}


.iconoColapsarDesplegar {
    margin-left: 40px;
}


:host ::ng-deep .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0px;;
}

:host ::ng-deep  .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0px;;
}

.selectorCategoria {
    margin-left: 20px;
    display: flex;
}

:host ::ng-deep mat-expansion-panel .mat-expansion-panel-header {
    height: 39px;

    box-shadow: 1px 1px 1px #999;
}

:host ::ng-deep mat-expansion-panel  {
    background-color:  #C9D6E8;
}

:host ::ng-deep mat-expansion-panel :hover {
    background-color:  #C9D6E8;
}


